
*, ::after, ::before {
	box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

blockquote, body, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, ul {
	margin: 0;
	padding: 0;
}

/* Mobile First */

.site-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    border: 2px solid red;
}

.nav-wrap {
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.logo-wrap {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .logo {
    width: 100px;
    height: 80px;
    background-color: lightblue;
    border: 1px solid black;
} */

.logo-text {
    border: 2px solid gray;
}

/* .menu {
    border: 2px solid lightseagreen;
    display: none;
}

.nav {
    border: 2px solid lightcoral;
}

li {
    border: 2px solid black;
} */

/* Main */

.main {
    border: 2px solid blue;
}

.main-wrap {
    border: 2px solid yellow;
}

.content-wrap {
    border: 2px solid violet;
}

.main-header {
    border: 2px solid lightskyblue;
}

.title {
    border: 2px solid lightcoral;
}

.main-content {
    border: 2px solid black;
}

/* We */

.we-first {
    border: 2px solid lightgreen;
}

.we-design {
    border: 2px solid lightskyblue;
}

.we-develop {
    border: 2px solid lightcoral;
}

.we-golive {
    border: 2px solid lightseagreen;
}

/* Works */

.main-links {
    border: 2px solid red;
}

.first {                                  /* Class common to Contact */
    border: 2px solid lightgreen
}

.cell-1 {
    border: 2px solid lightcoral;
}

/* Contact */

.contact-all {
    border: 2px solid blue;
}

.photo {
    border: 2px solid rebeccapurple;
}

.robert {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    filter: grayscale(90%);
    filter: opacity(70%);
}

.contact {
    border: 2px solid greenyellow;
}

/* Footer */

.footer {
    border: 2px solid green;
}




@media only screen and (orientation: landscape) {
    
    .site-container {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .header {
        border: 2px solid red;
    }
    
    .nav-wrap {
        border: 2px solid burlywood;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    
    .logo-wrap {
        /* flex-basis: 100%; */
        border: 5px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        width: 100px;
        height: 80px;
        background-color: lightblue;
        border: 1px solid black;
    }
    
    .logo-text {
        border: 2px solid gray;
    }
    
  /*  .menu {
        border: 2px solid lightseagreen;
        display: none;
    }
    
    .nav {
        border: 2px solid lightcoral;
    }
    
    li {
        border: 2px solid black;
    } */
    
    /* Main */
    
    .main {
        border: 2px solid blue;
    }
    
    .main-wrap {
        border: 2px solid yellow;
    }
    
    .content-wrap {
        border: 2px solid violet;
    }
    
    .main-header {
        border: 2px solid lightskyblue;
    }
    
    .title {
        border: 2px solid lightcoral;
    }
    
    .main-content {
        border: 2px solid black;
    }
    
    /* We */
    
    .we-first {
        border: 2px solid lightgreen;
    }
    
    .we-design {
        border: 2px solid lightskyblue;
    }
    
    .we-develop {
        border: 2px solid lightcoral;
    }
    
    .we-golive {
        border: 2px solid lightseagreen;
    }
    
    /* Works */
    
    .main-links {
        border: 2px solid red;
    }
    
    .first {                                  /* Class common to Contact */
        border: 2px solid lightgreen
    }
    
    .cell-1 {
        border: 2px solid lightcoral;
    }
    
    /* Contact */
    
    .contact-all {
        border: 2px solid blue;
    }
    
    .photo {
        border: 2px solid rebeccapurple;
    }
    
    .contact {
        border: 2px solid greenyellow;
    }
    
    /* Footer */
    
    .footer {
        border: 2px solid green;
    }
}


/* Tablet */

/* @media only screen and (min-width: 530px) and (max-width: 930px) {
    
    .site-container {
      border: 2px solid black;
    }

    .header {
        border: 2px solid red;
    }
    
    .nav-wrap {
        border: 2px solid burlywood;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-wrap {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        width: 120px;
        height: 100px;
        background-color: lightgreen;
        border: none;
    }

    .logo-text {
        border: 2px solid gray;
    }
    
    .menu {
        border: 2px solid lightseagreen;
        display: block;
        display: flex;
    }
    
    .main {
        border: 2px solid blue;
    }
    
    .main-wrap {
        border: 2px solid yellow;
    }

    .content-wrap {
        border: 2px solid violet;
    }
    
    .main-header {
        border: 2px solid lightskyblue;
    }
    
    .title {
        border: 2px solid lightcoral;
    }
    
    .main-content {
        border: 2px solid black;
    }
    
    .we-first {
        border: 2px solid lightgreen;
    }
    
    .we-design {
        border: 2px solid lightskyblue;
    }
    
    .we-develop {
        border: 2px solid lightcoral;
    }
    
    .we-golive {
        border: 2px solid lightseagreen;
    }

    .footer {
        border: 2px solid green;
    }
} */



/* Desktop */

/* @media only screen and (min-width: 930px) {

    .site-container {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: beige;
    }
    
    .header {
        border: 2px solid red;
    }
    
    .nav-wrap {
        border: 2px solid burlywood;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo-wrap {
        border: 12px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 120px;
        height: 100px;
        background-color: lightgreen;
        border: none;
    }
    
    .logo-text {
        border: 2px solid gray;
    }

    .menu {
        border: 2px solid lightseagreen;
        display: block;
    }
    
    .main {
        border: 2px solid blue;
    }
    
    .main-wrap {
        border: 2px solid yellow;
    } */
    
    /* We */

    /* .content-wrap {
        border: 2px solid violet;
    }
    
    .main-header {
        border: 2px solid lightskyblue;
    }
    
    .title {
        border: 2px solid lightcoral;
    }
    
    .main-content {
        border: 2px solid black;
    }
    
    .we-first {
        border: 2px solid lightgreen;
    }
    
    .we-design {
        border: 2px solid lightskyblue;
    }
    
    .we-develop {
        border: 2px solid lightcoral;
    }
    
    .we-golive {
        border: 2px solid lightseagreen;
    } */
    
    /* Works */

    /* #works {
        display: none;
    } */

    /* Contact */

    /* #contact {
        display: none;
    } */

    /* Footer */

    /* .footer {
        border: 2px solid green;
    }

} */