
:root {
    --color-text-primary: #181818; 
    --background-primary: #FFFFFF; 
    --color-para-font: #666666; 
    /* --ghost-color: #8b19d7; */
    --ghost-color: #780dbe;     
    --font-family: "Nunito", sans-serif;
    --font-family-Inter: "Inter", sans-serif;
    --font-family-Raleway: "Raleway", sans-serif;
    --font-size-xxsmall: 12px;
    --font-size-xsmall: 14px;
    --font-size-smaller: 17px;
    --font-size-small: 16px; 
    --font-size-base: 18px;
    --font-size-large: 20px;
    --font-size-larger: 22px;
    --font-weight-normal: 400;
    --font-weight-normally: 500;
    --font-weight-semibold: 600;
    --line-height-base: 1.56;
    --space-8: 8px;
    --space-10: 10px;
    --space-12: 12px;
    --space-16: 16px;
    --space-32: 32px;
    --space-40: 40px;
    --space-64: 64px;
    --opacity-9: 0.9;
}

*, ::after, ::before {
	box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    direction: ltr;
    font-family: var(--font-family);
    color: var(--color-text-primary);
    background-color: var(--background-primary);
    /* font-size: var(--font-size-base); */
    line-height: var(--line-height-base);
}

blockquote, body, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, ul {
	margin: 0;
	padding: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
}

h2 {
    font-family: var(--font-family-Inter);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    padding: var(--space-12) 0 var(--space-8) 0;
    opacity: var(--opacity-9);
}

h3 {
    font-family: var(--font-family-Inter);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    /* padding-top: var(--space-24); */
    padding: var(--space-12) 0 var(--space-8) 0;
    opacity: var(--opacity-9);
}

/* Mobile First */

.site-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    padding-bottom: var(--space-64);
}

.nav-wrap {
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* padding: 20px; */
    /* padding: 0 var(--space-16) 0 var(--space-16); */
}

.logo-wrap {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 var(--space-16) 0 var(--space-16); */
}

.logo {
    width: 100px;
    height: 80px;
    background-color: lightblue;
    /* border: 1px solid black; */
}

.logo-text {
    border: 2px solid gray;
    /* font-size: var(--font-size-base); */
    /* font-size: 16px; */
    /* font-weight: var(--font-weight-normal); */
    /* font-weight: 300; */
    /* line-height: 1.6363; */
    /* text-align: center; */
    /* margin: var(--space-32); */
    /* padding: var(--space-32); */
    /* margin: 2rem; */
    /* padding: 2rem; */
    /* opacity: .7; */
}

/* .menu {
    border: 2px solid lightseagreen;
    display: none;
}

.nav {
    border: 2px solid lightcoral;
}

li {
    border: 2px solid black;
} */

/* Main */

.main {
    /* border: 2px solid blue; */
    padding: 0;
}

.main-wrap {
    /* border: 2px solid yellow; */
    margin: 0 auto;
    padding: 0;
}

.content-wrap {
    /* border: 2px solid violet; */
    padding: 0 var(--space-16) 0 var(--space-16);
}

.main-header {
    /* border: 2px solid lightskyblue; */
    display: flex;
    /* flex: 1; */
}

.main-content {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* font-size: var(--font-size-small); */
    font-size: 1em;
    padding-bottom: var(--space-64);
    /* word-break: break-word; */
}

.main-content p {
    color: var(--color-para-font);
}

/* We */

.we-first {
    /* border: 2px solid lightgreen; */
    padding-top: var(--space-8);
}

/* .we-design {
    border: 2px solid lightskyblue;
}

.we-develop {
    border: 2px solid lightcoral;
}

.we-golive {
    border: 2px solid lightseagreen;
} */

/* Works */

/* Class common to Contact */
/* .first {                                  
    border: 2px solid lightgreen
} */

.first p:first-child {
    margin-top: var(--space-12);
}

.cell-1 {
    /* border: 2px solid lightcoral; */
    margin: var(--space-12);
    padding: var(--space-12);
}

.cell-1 a {
    text-decoration: none;
    font-size: var(--font-size-base);
    color: var(--ghost-color);
}

/* Contact */

.photo {
    /* border: 2px solid rebeccapurple; */
    padding: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robert {
    /* width: 160px;
    height: 160px; */
    /* width: 100%;
    height: auto; */
    border-radius: 10px;
    padding: var(--space-8);
    filter: grayscale(90%);
    filter: opacity(70%);
}

.contact p:nth-child(2) {
    /* border: 2px solid greenyellow; */
    color: var(--color-para-font);
    text-decoration: none;
    /* font-size: 1.05em; */
}

/* Footer */

/* .footer {
    border: 2px solid green;
} */


@media only screen and (orientation: landscape) {

    h1, h2, h3 {
        font-size: 1.05rem;
    }

    h1 {
        font-size: var(--font-size-larger);
    }

    .content-wrap {
        /* border: 2px solid violet; */
        padding: 0 var(--space-32) 0 var(--space-32);
    }
    
    .main-content {
        /* border: 2px solid black; */
        /* font-size: var(--font-size-smaller); */
        font-size: 1.05em;
    }
}

/* Desktop */

@media only screen and (min-width: 930px) {

    /* .site-container {
        background-color: lightgreen;
    } */

    h1, h2, h3 {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.5rem;
    }
    
   .main {
        /* border: 2px solid blue; */
        padding: var(--space-40) 0;
    }

    .main-wrap {
        /* border: 2px solid yellow; */
        margin: 0 auto;
	    /* max-width: 1000px; */
        max-width: 60rem;
	    padding: 0 var(--space-16);
    }

    .content-wrap {               
        padding-right: var(--space-24);
        padding-left: var(--space-24);
    }
    
    
    /* We */

    /* .content-wrap {
        border: 2px solid violet;
    }
    
    .main-header {
        border: 2px solid lightskyblue;
    }
    
    .title {
        border: 2px solid lightcoral;
    }
    
    .main-content {
        border: 2px solid black;
    } */
    
    .main-content {
        display: flex;
        flex-flow: row wrap;
        /* font-size: var(--font-size-small); */
        font-size: 16px;
    }

    .we-first {
        /* border: 2px solid lightgreen; */
        flex-basis: 100%;   
    }
    
    .we-design {
        flex-basis: 33.33%;
        animation-duration: 1s;
    }

    .we-develop {
        flex-basis: 33.33%;
        animation-duration: 1.5s;
    }

    .we-golive {
        flex-basis: 33.33%;
        animation-duration: 2s;
    }

    .we-first > p, .we-design > p, .we-develop p, .we-golive > p {
        margin: var(--space-12) 0 var(--space-12) 0;
        /* padding-right: var(--space-10); */
        padding-right: 1.1rem;
    }
    
    /* .contact-all {
        display: flex;
        flex-direction: row;
    } */

    .cell-1:hover {
        transform: scale(1.1);
    }

    .first {
        flex-basis: 100%;
    }

    .photo {
        margin: 20px;
        padding: 20px;
    }

    .contact {
        margin: 20px;
        padding: 20px;
    }

    .robert:hover {
        transform: scale(1.02);
    }

    /* Footer */

    /* footer {
        border: 2px solid green;
    } */

}

/* Animation */

@keyframes dropDiv {
    0% { opacity: 0; };
    99% { opacity: 0; };
    100% { opacity: 1; };
}

.anima {
    animation-name: dropDiv;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

span {
    font-family: Kalam;
}