
*, ::after, ::before {
	box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    direction: ltr;
    font-family: "Nunito", sans-serif;
    color: #181818;
    background-color: #FFFFFF;
    line-height: 1.56;
}

blockquote, body, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, ul {
	margin: 0;
	padding: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding: 0.75em 0 0.5em 0;
    opacity: 0.9;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding: 0.75em 0 0.5em 0;
    opacity: 0.9;
}

/* Mobile First */

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    padding: 0 1em 5.75em 1em;
}

.nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a > img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.lang {
    padding: 3.2em 0.1em;
}

.bttn {
    text-align: center;
    text-decoration: none;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.5em;
    padding: 0 0.5em 0.125em 0.5em;
    border: 2px solid #bc1823;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-family: "Nunito";
    font-size: 1em;
    font-weight: 600;
}

.bttn:hover {
    cursor: pointer;
}

/* Main */

.main {
    padding: 0;
}

.main-wrap {
    margin: 0 auto;
    padding: 0;
}

.content-wrap {
    padding: 0 1em 0 1em;
}

.main-header {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    padding-bottom: 4em;
}

.main-content p {
    color: #666666;
}

section > div {
    padding: 0.5em 0 0.5em 0;
}

/* Works */
/* Class common to Contact */

.first p:first-child {
    margin-top: 0.75em;
}

.cell-1 {
    margin: 0.75em;
    padding: 0.75em;
}

.cell-1 a {
    text-decoration: none;
    font-size: 1.125em;
    color: #780dbe;
}

/* Contact */

.photo {
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robert {
    border-radius: 10px;
    padding: 0.5em;
    filter: grayscale(90%);
    filter: opacity(70%);
}

.contact p:nth-child(2) {
    color: #666666;
    text-decoration: none;
}

@media only screen and (orientation: landscape) {

    body {
        padding: 0 1em 0 1em;
    }

    h2, h3 {
        font-size: 1.063em;
    }

    h1 {
        font-size: 1.375em;
    }

   .bttn {
        width: 2.3rem;
        height: 2.3rem;
    }
    
    .main-content {
        font-size: 1.05em;
    }
}

/* Desktop */

@media only screen and (min-width: 930px) {

    h1, h2, h3 {
        font-size: 1.1em;
    }

    h1 {
        font-size: 1.5em;
    }

    .header {
        padding: 2.5em 0;
        
    }

    .nav-wrap {
        margin: 0 auto;
        max-width: 60rem;
	    padding: 0 2.4em;
    }

    .lang {
        margin-right: 1.6em;
    }

    .bttn {
        border: 2px solid #bc1823;
        font-weight: 600;
        width: 2.4rem;
        height: 2.4rem;
    }

    .bttn:hover {
        cursor: pointer;
        background-color: #bc1823;
        color: white;
    }
    
   .main {
        padding: 2.5em 0;
    }

    .main-wrap {
        margin: 0 auto;
        max-width: 60rem;
	    padding: 0 1em;
    }

    .content-wrap {               
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
    
    .main-content {
        display: flex;
        flex-flow: row wrap;
        font-size: 1em;
    }

    .we-first {
        flex-basis: 100%;   
    }
    
    .we-design {
        flex-basis: 33.33%;
        animation-duration: 1s;
    }

    .we-develop {
        flex-basis: 33.33%;
        animation-duration: 1.5s;
    }

    .we-golive {
        flex-basis: 33.33%;
        animation-duration: 2s;
    }

    .we-first > p, .we-design > p, .we-develop p, .we-golive > p {
        margin: 0.75em 0 0.75em 0;
        padding-right: 1.1rem;
    }

    .cell-1:hover {
        transform: scale(1.1);
    }

    .first {
        flex-basis: 100%;
    }

    .photo {
        margin: 1.25em;
        padding: 1.25em;
    }

    .contact {
        margin: 1.25em;
        padding: 1.25em;
    }

    .robert:hover {
        transform: scale(1.02);
    }
}

/* Animation */

@keyframes dropDiv {
    0% { opacity: 0; };
    99% { opacity: 0; };
    100% { opacity: 1; };
}

.anima {
    animation-name: dropDiv;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

span {
    font-family: Kalam;
}